<div class="review">
    <h3 class="textBlu"> {{user.username}}'s review</h3>
        <section>
            <h4 class="textRed">{{rating}}</h4>
            <p class="textWhite" >{{content}}</p>
        </section>
</div>