<div class="card reviewCard" style="width:20rem;">
    <div class="card-body">
        <h3 class="card-title"> {{user.username}}'s review</h3>
        <h4 class="card-subtitle mb-2">{{rating}}</h4>
        <p class="card-text" >{{content}}</p>
    </div>
</div>