  <div class="slides placeh">
    <div class="slideNum">{{index}} / 7</div>
    <a class="imgLink" href="http://localhost:3001/api/games/single/{{id}}">
        <img src="{{cover_art_url}}">
    </a>
    <div class="slideText">{{title}}</div>
  </div>