  <div class="slides placeh">
    <div class="slideNum">{{index}} / 7</div>
    <a href="http://localhost:3001/api/games/single/{{id}}">
        <img src="{{cover_art_url}}" style="width:100%">
    </a>
    <div class="slideText">{{title}}</div>
  </div>