<h1>{{userData.username}}'s Favorites</h1>
<div class="savedGames">
{{#each userData.games as |game|}}
    {{> fav}}
{{/each}}
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/faves.js"></script>