<section>
    <h1 style="text-align: center; color: black">{{userData.username}}'s Playlist</h1>
        <div class="showcase">
            {{#each userData.games as |game|}}
            {{> fav}}
            {{/each}}
        </div>

</section>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/public/js/faves.js"></script>