<section class="vh-100 gradient-custom">
    <div class="card bg-dark text-white">
      <div class="card-body p-5 text-center">
        <p style="text-align: center; color: white">Search our database</p>
        <div class="form-outline form-white mb-4">
          <input type="search" id="searchBar" class="form-control form-control-lg" />
          <button style="margin-top: 20px" class="myBtn"type="button" id="searchSubmit" for="search">Search</button>
        </div>
      </div>
    </div>
    <div class="card bg-dark text-white blkDiv">
      <div class="card-body p-5 text-center">
        <h2 class="fw-bold mb-2 text-uppercase">POPULAR GAMES</h2>
        <div class="mb-md-5 mt-md-4 pb-5 row showcase">
          {{#each gamesArr as |game|}}
          {{> result}}
          {{/each}}
        </div>
      </div>
</section>
 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script rel="script" src="/public/js/games.js"></script>
  <script src="/public/js/search.js"></script>