<!-- Search -->
<section id="searchContainer">
    <div class="card bg-dark text-white">
      <div class="card-body p-5 text-center">
        <p style="text-align: center; color: white">Search our database</p>
        <div class="form-outline form-white mb-4">
          <input type="search" id="searchBar" class="form-control form-control-lg" />
          <button style="margin-top: 20px" class="myBtn"type="button" id="searchSubmit" for="search">Search</button>
        </div>
      </div>
    </div>
</section>

<!-- Popular Games -->
<seciton id="slideshowContainer"> 
  {{#each gamesArr as |game|}}
    {{> result index={{@index}}}}
  {{/each}}

  <a id="prevBtn">&#10094;</a>
  <a id="nxtBtn" >&#10095;</a>
</seciton>


<section id="reviewContainer" style="display: none;">

</seciton>



 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script rel="script" src="/public/js/games.js"></script>
  <script src="/public/js/search.js"></script>