:root {
    --light-pink: #F1BBF2;
    --purple: #6B3073;
    --dark-purple: #381E40;
    --grey: #141726;
    --blue: #1D4B73;
  }

  i{
    font-size: 20px;
    color: var(--light-pink);
    pointer-events: none;
  }

  .iconBtn:hover + i{
    font-size: 30px;
  }

  /* Grabbed styling from login page */
header {
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  height: 100px;
}


/* Creating styling for nav bar */
nav
{
  margin-top: 20px;
  text-align: center;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.card{
  display: flex;
  flex-flow: row wrap;
  padding-top: 15px;
  background-color: var(--dark-purple);
}