#gameDetails{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#gameDetails section, #gameDetails div{
    margin: 25px 15px 25px 15px;
}

#gameDetails section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}


#infoDiv section{
    display: flex;
    flex-flow: column nowrap;
}

#trailerDiv{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.review{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

body,
header,
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to center, #1d4b73, rgb(97, 43, 185));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to center, #1d4b73, rgb(91, 10, 75));
}